body{
    background-color:teal;
    margin: auto;
}     

.e_form{
    padding: 8px;
}

.e_boton{
    text-align: center;
}

#boton{
    font-size: 20px;
    color: white;
    background-color: teal;
    text-align: center;
}

h1{
    margin: 5px;
    color: teal;
    text-align: center;
}

h2{
    margin-top: 0px;
    margin-bottom: 10px;
    color: white;
    text-align: center;
    font-size: 2em;
}

th{
    border: solid white;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

td{
    padding: 7px;
    background-color: white;
}

.e_tabla table{
    margin: auto;
}

.borde form{    
    color: black;
    background-color: white;
    margin: auto;
    padding: 10px;
    width: 200px;
    border-radius: 10px;    
}