<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="./css/Estilos.css" />
        <title>Formulario</title>
    </head>

    <body><br>
        <div class="borde">
            <form action="/" method="post" id="formulario">
                <h1>Formulario</h1>
                <div class="e_form">
                    <label>Nombre </label><br>
                    <input type="text" id="nombre" name="nombre"><br>
                </div>
                <div class="e_form">
                    <label>Apellido</label><br>
                    <input type="text" id="apellido" name="apellido"><br>
                </div>
                <div class="e_form">
                    <label>Edad</label><br>
                    <input type="number" id="edad" name="edad"><br>
                </div>
                <div class="e_form">
                    <label>Teléfono</label><br>
                    <input type="number" id="telefono" name="telefono"><br>
                </div>
                <div class="e_boton">
                    <button type="submit" id="boton">Enviar</button>
                </div>
            </form>
        </div><br>
        <div class="e_tabla">
            <table id=tabla>
                <h2>Tabla</h2>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Edad</th>
                    <th>Teléfono</th>
                </tr>
            </table>
        </div>
        <script>
            const form = document.getElementById("formulario");
            form.addEventListener("submit", function(event){
                event.preventDefault();
                let datosformulario = new FormData (form)
                let datostabla = document.getElementById("tabla");
                let nuevafila = datostabla.insertRow(-1);
                let nuevacolumna = nuevafila.insertCell(0)
                nuevacolumna.textContent = datosformulario.get("nombre")

                nuevacolumna = nuevafila.insertCell(1)
                nuevacolumna.textContent = datosformulario.get("apellido")

                nuevacolumna = nuevafila.insertCell(2)
                nuevacolumna.textContent = datosformulario.get("edad")

                nuevacolumna = nuevafila.insertCell(3)
                nuevacolumna.textContent = datosformulario.get("telefono")
                form.reset();
            })
        </script>
    </body>
</html>